body{
    background-color: rgba(166, 166, 244, 0.351);
    margin: 0;
}

header{
    background-color:rgba(166, 166, 244, 0.351);
    height: 56px;
    width: 1536px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    height: 56px;
}
li:last-child{
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

a{
    display: inline;
    height: 28px;
}

li a:hover {
    background-color: rgb(85, 85, 221);
}

div{
    display: inline-flex;
}

section{
    background-color: rgb(124, 124, 244);
    border-style: dashed;
    border-color: white;
    height: auto;
    width: 1285px;
    margin: 10px 0px 10px 0px;
}

#image-intro{
    height: 200px;
    width: 150px;
    float: left;
    padding: 5px 10px;
}

#image-logo1{
    height: 85px;
    width: 85px;
}
#image-logo2{
    height: 85px;
    width: 85px;
}

h2{
    text-align: center;
    font-family: 'Handjet', cursive;
    font-size: 100px;
    margin: 0;
}

p{
    text-align: justify;
    padding: 5px 5px;
}

#P_construction{
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: white;
}

#P_redstone{
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: white;
}

#P_tuto_constru{
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: white;
}

#P_partage{
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: white; 
}

#P_FAQ{
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: white; 
}


#image-illustration1{
    float: left;
    height: 70px;
    width: 70px;
}

aside{
    background-color: rgb(124, 124, 244);
    border-style: dashed;
    border-color: white;
    height: 300px;
    width: 200px;
    margin-left: 25px;
    margin: 10px 0px 10px 25px
}

footer{
    background-color: rgba(166, 166, 244, 0.351);
    height: 50px;
    width: 1536px;
}


