body{
    background-image: linear-gradient(to top, rgba(12, 12, 137, 0.893),rgba(166, 166, 244, 0.351));
    margin: 0;
}

header{
    background-color:rgba(166, 166, 244, 0.351);
    height: 56px;
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    height: 56px;
}
li:last-child{
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

a{
    display: inline;
    height: 28px;
}

li a:hover {
    background-color: rgb(85, 85, 221);
}

div{
    display: inline-flex;
}

section{
    border-color: white;
    height: auto;
    width: 84%;
    margin: 1% 0% 1% 0%;
}

#image-intro{
    height: 13%;
    width: 11.9%;
    float: left;
    padding: 5px 10px;
}

#image-logo1{
    height: 85px;
    width: 85px;
}
#image-logo2{
    height: 85px;
    width: 85px;
}

h2{
    text-align: center;
    font-family: 'Handjet', cursive;
    font-size: 100px;
    margin: 0;
}

.P-intro{
    font-family: 'Kaushan Script', cursive;
    color: black;
    text-align: justify;
    padding: 5px 5px;
}

table{
    width: 100%;
}

.liste-onglet-details{
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: white;
    margin: 1.5% 0% 1.5% 1%;
}

#image-illustration1{
    float: left;
    height: 70px;
    width: 70px;
    margin: 0% 10% 0% 10%
}

aside{
    border-style: dashed;
    border-color: white;
    height: auto;
    width: 16%;
    margin: 1% 0% 1% 1.63%
}

footer{
    background-color: rgba(12, 12, 137, 0.893);
    height: auto;
    width: 100%;
}

#table_footer{
    width: auto;
    text-align: center;
    margin: 3% 10%;
}

.Table-footer{
    width: 10%;
    padding: 0%;
}

#footer_titre{
    font-family: 'Kaushan Script', cursive;
    color: white;
    margin: 0%;
    text-align: center;
}

#image_footer{
    margin: 0%;
    height: 20%;
    width: 20%;
}

#P_footer{
    text-align: center;
    padding: 0%;
}

.footer-onglet-details{
    font-family: 'Kaushan Script', cursive;
    color:white;
    margin: 0%;
}
