/* --------------------------------------------------------------------------------*/
/* --------------------Style body  ------------------*/

body{
    margin: 0%;
}

/* --------------------------------------------------------------------------------*/
/* --------------------Style header ------------------*/

header{
    background-color:rgba(67, 67, 242, 0.351);
    height: 56px;
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

li{
    float: left;
    height: 56px;
}
li:last-child{
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

a{
    display: inline;
    height: 28px;
}

li a:hover {
    background-color: rgb(85, 85, 221);
}

/* --------------------------------------------------------------------------------*/
/* --------------------Style section/aside ------------------*/

#body_site{
    background-image: linear-gradient(to top, rgba(12, 12, 137, 0.893),rgba(166, 166, 244, 0.351));
    margin: 0%;
}

h1{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 100px;
    margin: 0%;
}

.image-logo{
    height: 85px;
    width: 85px;
}

#dispo_section_aside{
    display: flex;
}

/* --------------------------------------------------------------------------------*/
/* --------------------Style section ------------------*/

section{
    border-color: white;
    height: auto;
    width: 84%;
    margin: 1% 0% 1% 0%;
}

#dispo_img_article{
    display: flex;
}

.menu_site{
    display: inline;
    justify-content: center;
}

.dispo_menu_site{
    display: flex;
    justify-content: left;
}

#title_article{
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.P_article{
    font-family: 'Outfit', sans-serif;
    text-align: justify;
}

#image-intro{
    height: 17rem;
    width: 13rem;
    padding: 5px 10px;
}

.image-illustration{
    float: left;
    height: 70px;
    width: 70px;
    margin: 0% 10% 0% 10%
}

.liste-onglet-details{
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: white;
    margin: 1.5% 0% 1.5% 1%;
}

/* --------------------------------------------------------------------------------*/
/* --------------------Style section ------------------*/

aside{
    border-style: dashed;
    border-color: white;
    height: auto;
    width: 16%;
    margin: 1% 0% 1% 1.63%
}

/* --------------------------------------------------------------------------------*/
/* --------------------Style footer ------------------*/

footer{
    background-color: rgba(12, 12, 137, 0.893);
    width: 100%;
}

.contact_footer{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    text-decoration: none;
    color: white;
}

#p_footer{
    margin-top: 0%;
    margin-bottom: 1.5%;
}

.reseaux_footer{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: white;
}

.dispo_reseaux_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_reseaux_footer{
    margin-bottom: 0%;
}

#image_footer_1{
    width: 8rem;
    height: 6rem;
}

#image_footer_2{
    width: 6rem;
    height: 6rem;
}
