body{
    margin: 0%;
}

/* --------------------------------------------------------------------------------*/
/* --------------------Style header ------------------*/

header{
    background-color:rgba(67, 67, 242, 0.351);
    height: 56px;
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

li{
    float: left;
    height: 56px;
}

li:last-child{
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

a{
    display: inline;
    height: 28px;
}

li a:hover {
    background-color: rgb(85, 85, 221);
}

/* --------------------------------------------------------------------------------*/
/* --------------------Style footer ------------------*/

footer{
    background-color: rgba(12, 12, 137, 0.893);
    width: 100%;
}

.contact_footer{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    text-decoration: none;
    color: white;
}

#p_footer{
    margin-top: 0%;
    margin-bottom: 1.5%;
}

.reseaux_footer{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: white;
}

.dispo_reseaux_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_reseaux_footer{
    margin-bottom: 0%;
}

#image_footer_1{
    width: 8rem;
    height: 6rem;
}

#image_footer_2{
    width: 6rem;
    height: 6rem;
}